body {
    margin: 0;
    overflow: hidden;
    background: transparent !important;
}

.canvas-container {
    position: relative; /* Ensures child elements (search and selector) are positioned relative to this */
    width: 100vw;
    height: 100vh;
    background: transparent !important;
}

.verdiep_selector_button {
    border-radius: 28px;
    height: 50px;
    width: 50px;
    outline: none;
    border: none;
    transition: background 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.verdiep_selector_button.active {
    background: #404040; /* Groene kleur wanneer actief */
    color: white;
    font-weight: bold;
    transform: scale(1.1);
}


.search {
    --padding: 10px;

    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: #f6f6f6;
    margin: 0 !important;
    border: none;

    transition: width 0.2s ease-in-out, box-shadow 0.2s;
    width: 150px; /* Startbreedte */
}

.search:focus-within {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
    width: 300px; /* Breedte bij focus */
}

.search:hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}



.search-input {
    font-size: 20px;
    font-family: 'Lexend', sans-serif;
    color: #333333; /* dark gray */
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    width: 80px;
}

.search-input:focus-within {
    width: 200px;
}

.search-input::placeholder, .search-icon {
    color: rgba(0, 0, 0, 0.5);
}

form {
    margin: 0;
    padding: 0;
}

.selector {
    --padding: 10px;

    position: absolute;
    top: 100px;
    left: 20px;
    z-index: 10;

    width: max-content;
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center items horizontally */
    padding: var(--padding);
    border-radius: 32px;
    background: #f6f6f6;
    gap: 15px;
}
